// =============================================
//              Variables                         
// =============================================

// Set Base Color Variables

$malibu-blue: #51ddfc;
$sunglo-red: #e4757a;
$mountain-purple: #927bc1;
$birth-month-green: #63cc82;
$coral-red: #fd7856;
$lilac-purple: #deb2ee;
$anakiwa-blue: #7ee6fd;
$vista-blue-green: #88d9a0;
$fountain-blue: #4da2bb;
$sea-pink: #ec9fa3;
$vivid-tangerine: #fd9f85;
$riptide-blue: #80e8d1;
$viking-teal: #58e1c1;

// Main Color
$highlight-color: $viking-teal;

$base-font-color: #777;

$link-color: $malibu-blue;

$white: #fff;

// Column and Flex Variabeles

$col-colors: ( //This will prepare the set of color values for each of the grid containers
  $mountain-purple,
  $coral-red,
  $lilac-purple,
  $anakiwa-blue,
  $vista-blue-green,
  $fountain-blue,
  $sea-pink,
  $vivid-tangerine,
  $sunglo-red,
  $birth-month-green,
  $malibu-blue,
  $riptide-blue,
);

$max-basis: 100%; // Set flex-basis: 100%

// Button Variables

$btn-colors: (
  'default': $malibu-blue,
  'error': $sunglo-red,
  'info': $mountain-purple,
  'success': $birth-month-green,
  'warning': $coral-red,
);

// Media Query Variable

$media-tablet: 768px;