// =============================================
//              Variables                         
// =============================================

// Set Base Color Variables

$malibu-blue: #51ddfc;
$sunglo-red: #e4757a;
$mountain-purple: #927bc1;
$birth-month-green: #63cc82;
$coral-red: #fd7856;
$lilac-purple: #deb2ee;
$anakiwa-blue: #7ee6fd;
$vista-blue-green: #88d9a0;
$fountain-blue: #4da2bb;
$sea-pink: #ec9fa3;
$vivid-tangerine: #fd9f85;
$riptide-blue: #80e8d1;
$viking-teal: #58e1c1;

// Main Color
$base-color: $viking-teal;

// Column Variabeles

$col-1-color: $mountain-purple;
$col-2-color: $coral-red;
$col-3-color: $lilac-purple;
$col-4-color: $anakiwa-blue;
$col-5-color: $vista-blue-green;
$col-6-color: $fountain-blue;
$col-7-color: $sea-pink;
$col-8-color: $vivid-tangerine;
$col-9-color: $sunglo-red;
$col-10-color: $birth-month-green;
$col-11-color: $malibu-blue;
$col-12-color: $riptide-blue;

// Button Variables

$link-color: $malibu-blue;

$default-color-style: $malibu-blue;

$error-color-style: $sunglo-red;

$info-color-style: $mountain-purple;

$success-color-style: $birth-month-green;

$warning-color-style: $coral-red;