/* ============================================= */
/*              Buttons                          */
/* ============================================= */

%btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    @include tablet-display {
      padding: 10px 30px;
    }
}

@each $element, $color in $btn-colors {
  .#{$element} {
    @extend %btn;
    background-color: $color;
    transition: .5s;
    &:hover {
      background-color: lighten($color, 15%);
    }
  }
}