/* ============================================= */
/*              Images                           */
/* ============================================= */

%img {
    @include block-center;
    display: block;
    max-width: 100%;
}

.img-avatar {
    @extend %img;
    margin-top: 10px;
    max-height: 100%;
}
  
.img-frame {
    @extend %img;
    margin-top: 10px;
    padding: 13px;
    border: 1px solid #ccc;
}

.img-logo {
    @extend %img;
}