/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
    font-family: 'Lato', sans-serif;
    color: $base-font-color;
    box-sizing: border-box;
  }
  
  p {
    line-height: 1.45em;
  }
  
  a {
    text-decoration: none;
  }
  
  
  /* ============================================= */
  /*              Typography                       */
  /* ============================================= */
  
  %headline {
    color: $highlight-color;
  }

  %base-font {
    font-weight: 300;
  }

  .headline-primary {
    @extend %headline;
    margin-left: 10px;
  }
  
  .headline-secondary {
    @extend %headline;
    @extend %base-font;
  }

  .link {
    color: $link-color;
    font-weight: 700;
  }
  
  .blockquote {
    @extend %base-font;
    font-size: 1.5em;
    font-style: italic;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 8px solid $highlight-color;
    border-radius: 5px;
  }